
body {
background:#333;
background-repeat: no-repeat;
background-position: cover;
background-size: 100%;
color: white;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.jumbotron {
    color: white;
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
  }

  h1 {
    font-size: 20px;
    font-weight: 400;
  }

  .btn {
    padding:15px;
    font-size: 20px;
  
  }
  .main-button-container {
    max-width: 80%;
    margin: 0 auto;
  }

  #main {
    margin-top:10px;
    max-width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 26px;
  }
  .timer-p {
    margin-top: 50px;
    font-size:24px;
  }
  
  p.text-center {
    font-size:24px;
  }
  .answer:hover {
    background: rgb(67, 148, 202);
    color: white;
  }

  p {
    font-size: 18px;
    font-weight: 400;
  }
  .answer {
    height: 55px;
    color: black;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;
    cursor: pointer;

  }

  img {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
    
  }
  .img-wrong {
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 40px;
    width:300px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }

  .hide {
    display: none;
  }


  @media all and (max-width: 575px) { 
    .timer-p {
      margin-top: 70px;
      margin-bottom: 30px;
    }
    body {
      background:#333;
      background-repeat: repeat;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 300;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }

   .btn {
      margin: auto;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 20px;
    }

    .jumbotron, #main, .main-button-container {
      margin: auto;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 20px;
    }
   }
  
  @media all and (min-width: 576px) and (max-width: 767px) {  
  body {
    background:#333;
    background-repeat: repeat;
    text-align: center;
  }

  h1 {
      font-size: 36px;
      font-weight: 300;
    }

  p {
      font-size: 18px;
      font-weight: 300;
    }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:100%;
    text-align: left;
    
  }
 .btn {
    width:100%;
  }
  .jumbotron, #main, .main-button-container {
    margin: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;

  } 
}
  
  @media all and (min-width: 768px) and (max-width: 991px) {  
  body {
    background:#333;
    background-repeat: repeat;
    text-align: center;
  }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:100%;
    text-align: left;
    
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

 .btn {
    width:100%;
  }
  .jumbotron, #main, .main-button-container {
    margin: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 22px;

  } 
}
